@import url("./academicons.min.css");
@import url("./font-awesome.min.css");
body {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #444;
}
b {
  font-weight: 700;
}
hr {
  border-top: 1px solid #CCC;
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 20px;
}

h2 {
  font-size: 25px;
}

.row {
  line-height: 130%;
}
td {          /* for table */
  line-height: 110%;
}


.paper_pic_box    /* for paper_pic */
    {
    width: 160px;
    height: 130px;
    position: relative;
    }

.paper_title {
  font-weight: 700;
  font-size: 15px;
  /* color: #2a6496 */
  /* color: #428bca */
}
.paper_rest {
  font-size: 14px;
}
.paper_bottom_space {
  margin-bottom: 20px;
}


.container {
  margin-bottom: 50px;
}

#header {
  /* font-family: 'Geneva', sans-serif; */
  /* font-family: 'Trebuchet MS', sans-serif; */
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 300;
  color: white;
  width: 100%;
  /* max-width: 1150px; */
  height: 200px;
  margin-bottom: 48px;
}
.bg {
  /* background-image:  url('../../images/summer/suc/summer_blur13_opacity26_saturate_more_bright.jpg'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#header-inner {
  position: absolute;
  left: 10%;
  /*padding-left: 30px;*/
  top: 78px;
  width: 90%; /* this is needed to keep the bg image large in smart phone */
}
.img-profile {
  border: 3px solid white;
  width: 180px;
  float: left;
  margin-top: 15px;
}
.header-text {
  font-size: 26px;
  font-weight: 400;
  margin-top: 52px;
  margin-left: 170px;
}
.header-text-name {
  font-size: 44px;
  font-weight: 700;
}
.header-text-email {
  font-size: 15px;
  font-weight: 300;
}
.header-text-items {
  font-size: 20px;
  margin-top: -11px;
}


ul {
  list-style: disc;
  margin: 0 0 0em 0;
  padding-left: 1.5em;
}
  ul li{
    padding: 0.2em 0em 0.8em 0em; /* top, right, bottom, left */
  }

  ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome, Academicons;
  }

  ul.icons a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    text-decoration: none;
    color: #00356b; /* change this */
  }
  ul.icons a:hover {
    color: #286dc0; /* change this */
  }

    ul.icons li {
      display: inline-block;
      padding: 0 0.5em 0 0;
      padding-left: 0;
    }

      ul.icons li:last-child {
        padding-right: 0 !important;
      }

      ul.icons li .icon:before {
        font-size: 1.25em;
      }


@media (max-width: 640px) {
  #header-inner {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .img-profile {
    float: none;
    width: 180px;
    height: 180px;
    margin-top: 0px;
  }
  .header-text {
    margin: 1px 0;
  }
  .header-text-name {
    font-size: 34px;
  }
  .header-text-items {
    font-size: 15px;
    margin-top: 1px;
  }
  ul.icons a {
    color: #00356b;
  }
  ul.icons a:hover {
    color: #286dc0;
  }
}
